section#contacto{
	width: 100%;
	float: left;
	clear: both;
	padding: 0 10%;
	text-align: center;
	background-image: url('../img/fondo-marron.jpg');
	padding-bottom: 2em;
}
section #mapa{
	width: 50%;
	padding: 2em 0;
	float: left;
	clear: left;
}
section #mapa iframe.plano{
	width: 100%;
	height: 400px;
	float: left;
	clear: left;
}
section#contacto #consulta {
	width: 45%;
	padding: 2em 5% 0 0;
	float: right;
	clear: right;
}
section#contacto #consulta #titulo{
	width: 100%;
	padding: 0.5em 0;
	float: right;
	clear: right;
	text-align: left;
	font-size: 1.5em;
}
section#contacto #consulta #formulario {
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}
section#contacto #consulta #formulario #campo {
	background-image: url('../img/fondo-marron.jpg');
	width: 45%;
	margin-right: 5%;
	float: left;
	margin-top: 15px;
	padding-top: 8px;
	padding-bottom: 12px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #666;
	font-size: 0.95em;
	margin-bottom: 15px;
}
section#contacto #consulta #formulario #campo:focus {
	border-bottom-style: solid;
	border-bottom-color: #000;	
	outline: 0px;
}

section#contacto #consulta #formulario #consulta {
	background-image: url('../img/fondo-marron.jpg');
	width: 95%;
	margin-right: 5%;
	float: left;
	margin-top: 15px;
	padding-top: 8px;
	padding-bottom: 12px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: dashed;
	border-left-style: solid;
	border-bottom-color: #666;
	font-size: 1em;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
}

section#contacto #consulta #formulario #consulta:focus {
	border-bottom-style: solid;
	border-bottom-color: #000;
	outline: 0px;
}
section#contacto #consulta #formulario #boton {
	clear: both;
	float: left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	background-color: #333;
	font-size: 0.8em;
	color: #FFF;
	padding: 8px;
	margin-top: 15px;
	cursor: pointer;
}

/*arreglos para la versión grande */
@media only screen and (min-width: 1400px)  {
	
}

/* Version para netbook*/
@media only screen and (max-width: 1350px)  {
	section#contacto .contenido {
	width: 960px;
	display: block-inline;
	margin: 0 auto;
}	
	
}
/*celular */
@media only screen and (max-width:8000px) {
	section#contacto{
		width: 100%;
		float: left;
		clear: both;
		text-align: center;
		background-image: url('../img/fondo-marron.jpg');
		padding-bottom: 2em;
	}
	
	section #mapa{
		width: 100%;
		padding: 2em 0;
		float: left;
		clear: left;
	}
	section#contacto #consulta {
		width: 98%;
		padding: 2em 1%;
		float: right;
		clear: right;
	}
}
