*{
	margin : 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 5;
}

@font-face{
	font-family: "Chalet";
	src: url("../fonts/Chalet.eot");
	src: url("../fonts/Chalet.eot#iefix") format("embedded-opentype"),
		 url("../fonts/Chalet.woff") format("woff"),
		 url("../fonts/Chalet.ttf") format("truetype"),
		 url("../fonts/Chalet.svg#Chalet") format("svg");
	font-weight: normal;
	font-style: normal;
	
}
@font-face{
	font-family: "Karla";
	src: url("../fonts/Karla.eot");
	src: url("../fonts/Karla.eot#iefix") format("embedded-opentype"),
		 url("../fonts/Karla.woff") format("woff"),
		 url("../fonts/Karla.ttf") format("truetype"),
		 url("../fonts/Karla.svg#Karla") format("svg");
	font-weight: normal;
	font-style: normal;
	
}

body{
	font-family: "Karla", Arial, Helvetica;
	font-size: 1em;
	min-width: 1300px;
}

header#top{
	width: 100%;
	float: left;
	color: #EEE;
	overflow: hidden;
}

header#top #logo-menu{
	float: left;
	clear: both;
	width: 100%;
	margin: 0;	
	padding: 0 15%;
	clear: both;
	background: rgba(20, 20, 20, .99);
}
header#top #logo-menu  #logo{
	margin: 1em 0;
	float: left;
	clear: left;
	width: 16%;
}
header#top #logo-menu  #logo img{
	width: 100%;
	border-radius: 15px;
	float: left;
	clear: left;
}
header#top #logo-menu  #datos{
	font-size: 1em;
	margin: 2em 0 0;
	float: right;
	clear: right;
	text-align: right;
	width: 70%;
}
header#top #logo-menu  #datos .dato{
	margin: 0 1em;
}
header#top #logo-menu  #datos .dato img{
	margin: 0 0.2em;
}
header#top #logo-menu  nav#menu{
	font-size: 1em;
	margin: 2em 0 0 0;
	float: right;
	clear: right;
	text-align: right;
	width: 80%;
}

header#top #logo-menu  nav#menu a.opcion-menu{
	font-size: 1em;
	margin: 0em 1em;
	float: right;
	text-align: right;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 0 0.5em;
}
header#top #logo-menu  nav#menu a.opcion-menu:hover{
	background: rgba(203,040,033, .8);
}
header#top #logo-menu  a#menu-icono{
	visibility: hidden;
	width: 0;
	height: 0;
}

header#top #titulo{	
	background-image: url("../img/header.jpg");
	background-size: 100%;
    background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	float: left;
	clear: both;
	text-align: center;	
}
header#top #titulo #sombra{	
	background-color: rgba(0, 0, 0, .30);
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	
	
}
header#top #titulo h3{	
	border-bottom: double 0.1em #FFF;
	border-top: double 0.1em #FFF;
	font-size: 2em;
	font-family: 'Montserrat', Arial, Helvetica;
	text-transform: uppercase;
	padding: 0.2em 0;
	margin: 1em;
	width: 50%;
	margin: 1em auto;
	display: block-inline;
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);	
}


/*arreglos para la versión grande */
@media only screen and (min-width: 1400px)  {
	header#top #logo-menu  #datos{
		margin: 2.5em 0 0;
	}
	header#top #logo-menu  nav#menu{
		margin: 2.5em 0 0 0;
	}	
	header#top #titulo{			
	}
	header#top #titulo #sombra{		
	}
	header#top #titulo h3{	
		font-size: 2.9em;		
	}
}

/*arreglos para la versión grande */
@media only screen and (max-width: 1350px)  {
	body{
		min-width: 960px;
	}
	header#top{
	}

	header#top #logo-menu{
		padding: 0 5%;
	}
	header#top #logo-menu  #logo{
		width: 16%;
	}
	header#top #logo-menu  #logo img{
		border-radius: 5px;
	}
	header#top #logo-menu  #datos{
		font-size: 0.9em;
		margin: 1em 0 0;
	}
	header#top #logo-menu  #datos .dato{
		margin: 0 1em;
	}
	header#top #logo-menu  #datos .dato img{
		margin: 0 0.2em;
	}
	header#top #logo-menu  nav#menu{
		font-size: 0.9em;
		margin: 2.4em 0 0 0;
		float: right;
		clear: right;
		text-align: right;
		width: 80%;
	}
	header#top #logo-menu  nav#menu a.opcion-menu{
		font-size: 1em;
		margin: 0em 0.5em;
		float: right;
		padding: 0 0.5em;
	}
	header#top #titulo{	
	}
	header#top #titulo #sombra{	
	}
	header#top #titulo h3{	
		border-bottom: double 0.1em #FFF;
		border-top: double 0.1em #FFF;
		font-size: 1.8em;
		font-family: 'Montserrat', Arial, Helvetica;
		text-transform: uppercase;
		padding: 0.2em 0;
		margin: 1em;
		width: 50%;
		margin: 1em auto;
		display: block-inline;
		-webkit-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		transform: rotate(-2deg);	
	}
}
/*celular */
@media only screen and (max-width:800px) {
	body{
		font-size: 1em;
		min-width: 0px;
	}
	header#top{
		width: 100%;
		float: left;
		clear: both;
		overflow: hidden;
		background-size: auto 100%;
		background-position: center center;
		background-repeat: repeat;
		height: auto;
	}
	header#top #logo-menu{
		float: left;
		clear: both;
		width: 100%;
		margin: 0;	
		padding: 0 1%;
		clear: both;
		background: rgba(0, 0, 0, .8);
		overflow: hidden;
	}
	header#top #logo-menu  #logo{
		margin: 1em 5%;
		float: left;
		clear: left;
		width: 40%;
	}
	header#top #logo-menu  #logo img{
		width: 100%;
		border-radius: 15px;
		float: left;
		clear: left;
	}
	header#top #logo-menu  #datos{
		display: none;
	}
	header#top #logo-menu  nav#menu{
		display: none;
	}
	header#top #logo-menu  a#menu-icono{
		background-image: url("../img/menu.png");
		background-size: 100%;
		background-repeat: no-repeat;
		width: 16%;
		margin-left: 15%;
		margin-right: 10%;
		margin-top: 2em;
		float: right;
		clear: right;
		height: 7em;
		visibility: visible;
	}
	header#top #titulo h3{	
		border-bottom: double 0.1em #FFF;
		border-top: double 0.1em #FFF;
		font-size: 1.4em;
		font-family: 'Montserrat', Arial, Helvetica;
		text-transform: uppercase;
		padding: 0.2em 0;
		margin: 1em;
		width: 90%;
		margin: 1em auto;
		display: block-inline;
		-webkit-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		transform: rotate(-2deg);	
	}
}
