
header#top{
	width: 100%;
	background: url("../img/header.jpg");
	background-size: 105% auto;
    background-repeat: repeat;
	height: 680px;
	float: left;
	color: #EEE;
	transition: background 1s linear;
}

header#top #logo-menu{
	float: left;
	clear: both;
	width: 100%;
	margin: 0;	
	padding: 0 15%;
	clear: both;
	background: rgba(0, 0, 0, .8);
	height: 150px;
	overflow: hidden;
	position: fixed;
	z-index: 10;
}
header#top #logo-menu  #logo{
	margin: 1em 0;
	float: left;
	clear: left;
	max-width: 22%;
}
header#top #logo-menu  #logo img{
	width: 195px;
	border-radius: 15px;
	float: left;
	clear: left;

}
header#top #logo-menu  #datos{
	font-size: 1em;
	margin: 25px 0 0;
	float: right;
	clear: right;
	text-align: right;
	width: 78%;
}
header#top #logo-menu  #datos .dato{
	margin: 0 1em;
}
header#top #logo-menu  #datos .dato img{
	margin: 0 0.2em;
}
header#top #logo-menu  nav#menu{
	font-size: 1em;
	margin: 2em 0 0 0;
	float: right;
	clear: right;
	text-align: right;
	width: 78%;
}

header#top #logo-menu  nav#menu a.opcion-menu{
	font-size: 1em;
	margin: 0em 1em;
	float: right;
	text-align: right;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 0 0.5em;
}
header#top #logo-menu  nav#menu a.opcion-menu:hover{
	background: rgba(203,040,033, .8);
}
header#top #logo-menu  a#menu-icono{
	visibility: hidden;
	width: 0;
	height: 0;
}
	

header#top h1#nombre{
	font-family: 'Satisfy', Arial, Helvetica;
	width: 100%;
	text-align: center;
	font-size: 3.2em;
	margin-top: 200px;
	float: left;
	text-shadow: 2px 2px 2px #333;
	font-weight: bold;
}
header#top h1#slogan1{
	font-family: 'Montserrat', Arial, Helvetica;
	width: 100%;
	text-align: center;
	font-size: 4.2em;
	text-transform: uppercase;
	float: left;
	text-shadow: 2px 2px 2px #333;
	font-weight: bold;
}
header#top h1#slogan2{
	float: left;
	font-family: 'Satisfy', Arial, Helvetica;
	width: 100%;
	text-align: center;
	font-size: 3.2em;
	text-shadow: 1px 1px 1px #333;
	font-weight: bold;
}
header#top #cuadros{
	margin-top: 90px;
	float: left;	
	text-align: center;
	width: 100%;
}
header#top .cuadros_celu{
	display: none;
}
header#top .cuadros_pc{
	display: inline-block;
}
header#top #cuadros .cuadro{
	margin: 0 1em 0 0;
	display: inline-block;
	background: #b89472;
	padding: 0.8em;
	font-weight: normal;
	background-repeat: no-repeat;
	background-position: 0.2em center;
	font-size: 1.4em; 
	margin-bottom: 10px;
}
header#top #cuadros .cuadro a{
	text-decoration: none;
	color: white;
}


section#menu-atajos{
	float: left;
	text-align: center;
	padding-top: 16px;
	clear: both;
	z-index: inherit;
	width: 100%;
	border-bottom: solid rgba(211, 211, 211, 0.719) 1px;
	border-top: solid rgba(211, 211, 211, 0.719) 1px;
	background-color: #FEEEFE;
}


section#menu-atajos .opcion{
	display: inline-block;
	background-color: #FEEEFE;
	min-height: 2em;
	position: relative;
	border-radius: 0.5em;
	width: 600px;
	max-width: 100%;
	margin-bottom: 16px;
}
section#menu-atajos .opcion .pizza{
	background: url("../img/header4.jpg");
}
section#menu-atajos .opcion .milanesa{
	background: url("../img/header6.jpg");
}
section#menu-atajos .opcion .empanada{
		background: url("../img/header10.jpg");
}
section#menu-atajos .opcion .fondo{
	filter: blur(1px);
	border-radius: 0.5em;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center center;
	background-size: 100% auto;
	background-repeat: no-repeat;
}
section#menu-atajos .opcion .fondo:hover{
	background-size: 110% auto;
}
section#menu-atajos .opcion .texto{
	position: relative;
	z-index: 1000;
	float: letf;
	clear: both;
	width: 100%;
	height: 100%;
	font-size: 30px;
	padding: 0.5em;
	font-family: 'Montserrat', Arial, Helvetica;
	text-shadow: 1px 1px 1px #333;
	color: #EEE;
	text-transform: uppercase;
	font-weight: 400;
}


section#nosotros{
	width: 100%;
	float: left;
	text-align: center;
	margin: 2em 0;
}
section#nosotros h3{
	display: block-inline;	
	background-image: url("../img/papel.png");
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 0.7em;
	padding-bottom: 0em;
}

section#nosotros h3 span h1{
	font-size: 2em;	
	font-family: 'Satisfy', Arial, Helvetica;
	font-weight: normal;
	color: #4C2882;
}
section#nosotros h3 span.sub{
	font-size: 0.6em;	
	font-family: 'Montserrat', Arial, Helvetica;
	font-weight: normal;
	text-transform: uppercase;
}
section#nosotros h4{
	display: block-inline;	
	background-color: #666;
	padding-top: 0.5em;
	padding-bottom: 0em;
	width: 90%;
	margin: 0 auto;
	background-image: url("../img/fondo-gris.jpg");
	font-family: 'Montserrat', Arial, Helvetica;
	color: #DDD;
	padding: 2em;
	border-radius: 15px;
	line-height: 2em;
	font-weight: normal;
	font-size: 18px;		
}
section#nosotros h4 p{
	padding-bottom: 2em;
		
}
section#nosotros h4 p.ultimo{
	padding-bottom: 0em;	
}

section#oferta{
	width: 25%;
	float: right;	
	text-align: center;
	margin: 4.2em 0;
	margin-right: 5%;
}
section#oferta img{
	width: 100%;
	float: left;	
	text-align: center;
	margin: 2em 0;
}

/*arreglos para la versión grande */
@media only screen and (min-width: 1400px)  {
}

/* Version para netbook*/
@media only screen and (max-width: 1270px)  {
	
	header#top #logo-menu  nav#menu a.opcion-menu{
		margin: 0em 0.5em;
	}
	header#top #logo-menu  #datos{	
		margin: 25px 0 0;
		width: 71%;
	}	
	header#top #logo-menu  nav#menu{
		width: 70%;
	}
	header#top #logo-menu  nav#menu a.opcion-menu{
		font-size: 1em;
		margin: 0em 5px;
		padding: 0 0.5em;
	}
}
/*celular */
@media only screen and (max-width: 960px) {
	body{
		min-width: 320px;
	}
	header#top{
		background-size: auto 100%;
		background-position: center;
		height: 460px;
	}

	header#top #logo-menu{
		padding: 0 1%;
		height: 120px;
	}
	header#top #logo-menu  #logo{
		margin: 1em 5%;
		float: left;
		clear: left;
	}
	header#top #logo-menu  #logo img{
		width: 150px;
	}
	header#top #logo-menu  #datos{
		display: none;
	}
	header#top #logo-menu  nav#menu{
		display: none;
	}
	header#top #logo-menu  a#menu-icono{
		width: 20%;
		margin-left: 15%;
		margin-right: 5%;
		margin-top: 38px;
		float: right;
		clear: right;
		visibility: visible;
		color: #FFF;
		font-size: 35px;
	}
	
	header#top h1#nombre{
		margin-top: 140px;
		font-size: 33px;
	}
	header#top h1#slogan1{
		font-size: 30px;
	}
	header#top h1#slogan2{
		font-size: 30px;
	}
	header#top #cuadros{
		margin-top: 18px;
		float: left;	
		text-align: center;
		width: 100%;
		padding: 0 2%;
	}
	header#top #cuadros .cuadro{
		padding: 10px;
		font-size: 15px;
		margin-bottom: 10px;
		display: inline-block;
	}
	header#top #cuadros .cuadro a{
		text-decoration: none;
		color: white;
	}
	
	section#menu-atajos{
		margin-top: 0px;
		width: 100%;
	}

	section#menu-atajos .opcion{
		width: 90%;
		float: left;
		margin: 0 5%;
		margin-bottom: 16px;
	}

	section#menu-atajos .opcion .fondo{
		background-position: center center;
		background-size: 100% auto;
		background-repeat: no-repeat;
	}
	section#menu-atajos .opcion .texto{
		font-size: 1.5em;
		padding: 0.5em;
	}
	
	
	section#nosotros{
		width: 100%;
		float: left;
		text-align: center;
		margin: 0;
	}
	section#nosotros h3{
		float: left;
		background-size: 100%;
		padding: 0.7em 5%;
		padding-bottom: 0;
		width: 100%;
		background-image: none;
	}

	section#nosotros h3 span h1{
		font-size: 25px;	
		text-align: center;
		margin-bottom: 0;
	}
	section#nosotros h3 span.sub{
		font-size: 15px;
		text-align: center;	
		margin-bottom: 20px;
	}
	section#nosotros h4{
		float: left;
		background-size: 100%;
		width: 95%;
		margin: 0 2.5%;
	}
	section#nosotros h4 p{
		font-size: 14px;
		padding-bottom: 10px;	
	}
	section#nosotros h4 p.ultimo{
		padding-bottom: 0em;	
	}

	section#oferta{
		width: 90%;
		float: right;	
		text-align: center;
		margin: 0.5em 5%;
	}
	section#oferta img{
		width: 100%;
		float: left;	
		text-align: center;
		margin: 2em 0;
	}
}


/*celular */
@media only screen and (max-width: 359px) {

	header#top{
		height: 480px;
	}
	
	header#top h1#slogan1{
		font-size: 28px;
	}
	header#top #cuadros .cuadro{
		padding: 10px;
		font-size: 13px;
		margin-bottom: 10px;
		display: inline-block;
	}


}
