body{
	background-image: url('../img/fondo-marron.jpg');	
}
section#menu{
	width: 100%;
	max-width: 1300px;
	margin: 0em auto;
	display: block-inline;
	padding: 0em 0;
	overflow: hidden;
	padding-bottom: 3em;
}
section#menu h1.titulo{
	width: 100%;
	font-size: 55px;
	font-family: 'Montserrat', Arial, Helvetica;
	font-size: normal;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 20px;
	float: left;
	clear: both;
	margin-top: 1em;
	font-weight: bold;
}
section#menu #info{
	width: 100%;
	font-size: 18px;
	font-family: 'Montserrat', Arial, Helvetica;
	font-size: normal;
	text-align: center;
	margin-bottom: 23px;
	float: left;
	clear: both;
	margin-top: 0;
	text-align: center;
}
section#menu .col{
	width: 33%;
	padding: 1em 1em; 
	float: left;
}
section#menu .col .variedad{
	width: 100%;
	padding: 0.5em 0;
	float: left;
	font-size: 19px;
	clear: both;
}
section#menu .col .variedad .num{
	width: 10%;
	padding: 0em 0;
	float: left;
	font-weight: bold;
}
section#menu .col .variedad .pizza{
	width: 90%;
	padding: 0em 0;
	float: left;
}
section#menu .col .variedad a{
	text-decoration: none;
	color: #111;
}
section#menu .col .variedad a:hover{
	text-decoration: underline;
	color: orange;
}

/*arreglos para la versi&oacute;n grande */
@media only screen and (min-width: 1400px)  {
}

/* Version para netbook*/
@media only screen and (max-width: 1350px)  {
	section#menu{
	}
	section#menu .col .variedad{
		width: 100%;
		padding: 0.5em 0;
		float: left;
		font-size: 18px;
		clear: both;
	}
	section#menu .col .variedad a{
		text-decoration: none;
		color: #111;
	}
	section#menu .col .variedad a:hover{
		text-decoration: underline;
		color: orange;
	}
}
/*celular */
@media only screen and (max-width:960px) {	
	section#menu{
		width: 100%;
	}
	section#menu h1.titulo{
		font-size: 34px;
	}
	section#menu #info{
		font-size: 15px;
	}
	section#menu h1.titulo_chico{
		font-size: 28px;
	}
	section#menu .col{
		width: 100%;
		padding: 0em 1em; 
		float: left;
	}
	section#menu .col .variedad{
		font-size: 21px;
		padding: 0.3em 0;
	}
	section#menu .col .variedad a{
		text-decoration: none;
		color: #111;
	}
	section#menu .col .variedad a:hover{
		text-decoration: underline;
		color: orange;
	}
	
}
