
.header{
	padding: 0 15%;
  background: rgba(0, 0, 0, 0.788);
  height: 150px;
}
.header .logo{
	margin: 1em 0;
	float: left;
	clear: left;
	max-width: 22%;
}
.header .logo img{
	width: 195px;
	border-radius: 15px;
	float: left;
	clear: left;

}
.header .menu-datos{
	float: right;
	clear: right;
  width: 75%;
  color: #FFF;
}

.header  .menu-datos .datos{
	font-size: 1em;
	margin: 0px 0 0 0;
	float: right;
	clear: right;
  text-align: right;
  height: 50px;
  overflow: hidden;
}
.header .menu-datos .datos .dato{
	margin: 0 1em;
}
.header .menu-datos .datos .dato img{
	margin: 0 0.2em;
}
.header .menu-datos .datos .dato a{
	color:#EEE;
	font-size: 20px;
}
.header .menu-datos .datos .dato a:hover{
	color:rgb(221, 58, 58);
	font-size: 20px;
}
.header .menu-datos .menu{
	font-size: 1em;
	margin: 0px 0 0 0;
	float: right;
	clear: right;
	text-align: right;
	width: 78%;
}

.header .menu-datos .menu a.opcion-menu{
	font-size: 1em;
	margin: 0em 1em;
	float: right;
	text-align: right;
	text-decoration: none;
	color: #FFF;
	text-transform: uppercase;
	padding: 0 0.5em;
}
.header .menu-datos .menu a.opcion-menu:hover{
	background: rgba(203,040,033, .8);
}
.header a#menu-icono{
	visibility: hidden;
	width: 0;
	height: 0;
}

.header #titulo{
	//background-image: url("assets/header.jpg");
	background-size: 100%;
  background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	float: left;
	clear: both;
	text-align: center;
	margin-top: 150px;
}
.header #titulo #sombra{
	background-color: rgba(0, 0, 0, .30);
	width: 100%;
	float: left;
	clear: both;
	text-align: center;


}
.header #titulo h3{
	border-bottom: double 0.1em #FFF;
	border-top: double 0.1em #FFF;
	font-size: 45px;
	font-family: 'Montserrat', Arial, Helvetica;
	text-transform: uppercase;
	padding: 0.2em 0;
	margin: 1em;
	width: 50%;
	margin: 1em auto;
	display: block-inline;
	-webkit-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
